.Button{
    background-color: rgba(240, 248, 255, 0);
    width: 60px;
    height: 60px;
    font-size: 50px;
    display: grid;
    align-items: center;
    background-position:center;
    background-size: contain;
    border-style: none;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    z-index: 4;    
}

.icon{
    color: rgba(127, 255, 212, 0.838);
    transition: color 200ms ease;

}

.icon:hover{
    color: rgb(98, 229, 249);
}

